h3, h2, h1, .section-carrousel div .subheadline-h2 {
  line-height: auto;
  text-align: center;
}

.hero {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #CCC9DC 95.46%), linear-gradient(180deg, rgba(21, 122, 110, 0.16) 0%, rgba(21, 122, 110, 0.8) 82.37%), url(../img/torrey-pines-1.jpeg) lightgray 50%/cover no-repeat;
}
@media (max-width: 768px) {
  .hero {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #CCC9DC 95.46%), linear-gradient(180deg, rgba(21, 122, 110, 0.16) 0%, rgba(21, 122, 110, 0.8) 82.37%), url(../img/torrey-pines-1.jpeg) lightgray 50%/cover no-repeat;
    align-content: center;
    justify-content: center;
    height: 37.5rem;
  }
}
@media (min-width: 769px) {
  .hero .searchbar {
    max-width: 50%;
  }
}

.container-fluid .contact-wrapper .row .img-contact img, .opinion-section .container .card, .reviews-stats-section, .review-section div a, .review-section div h2 {
  box-shadow: 0px 16px 40px -8px rgba(88, 92, 95, 0.16);
}

.newsletter-section .newsletter-wrapper form #newsletter-button, .hero-search .container .searchbar button, .hero div div form button {
  background-color: #b9997c;
}

.hero {
  height: 50rem;
  align-content: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .hero {
    height: 37.5rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.hero div p {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: auto;
  color: #413d47;
  text-align: center;
  color: #72563d;
}
@media (max-width: 768px) {
  .hero div p {
    font-size: 1rem;
    font-weight: 600;
    line-height: auto;
    text-align: center;
  }
}
.section-carrousel {
  height: 35rem;
  align-content: center;
}
.section-carrousel div h2 {
  color: #157a6e;
}
.section-carrousel div .subheadline-h2 {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: auto;
  color: #413d47;
  text-align: center;
}
@media (max-width: 768px) {
  .section-carrousel div .subheadline-h2 {
    font-size: 1rem;
    font-weight: 600;
    line-height: auto;
    text-align: center;
  }
}
.section-carrousel .contenedor-nuevas {
  flex-wrap: nowrap;
  overflow-x: auto;
}
@media (max-width: 768px) {
  .section-carrousel .contenedor-nuevas {
    overflow-x: auto;
  }
}
.section-carrousel .contenedor-nuevas .card-nueva {
  width: 30rem;
  height: 20rem;
  margin: 1rem;
  background-color: #f2f2f2;
  border-radius: 0.75rem;
  padding: 0.5rem;
  box-shadow: 0px 16px 40px -8px rgba(88, 92, 95, 0.16);
}
.section-carrousel .contenedor-nuevas .card-nueva:hover {
  background-color: #b9997c;
}
@media (max-width: 768px) {
  .section-carrousel .contenedor-nuevas .card-nueva {
    width: 80%;
  }
}
.section-carrousel .contenedor-nuevas .card-nueva .img-contenedor img {
  height: 12.5rem;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  box-shadow: 0px 2px 4px 0px rgba(27, 28, 29, 0.04);
}
.section-carrousel .contenedor-nuevas .card-nueva .card-cuerpo h5 {
  color: #157a6e;
  font-size: 1.375rem;
  padding-top: 0.5rem;
}
.section-carrousel .contenedor-nuevas .card-nueva .card-cuerpo div svg {
  color: #d0bba8;
}
.section-carrousel .contenedor-nuevas .card-nueva .card-cuerpo .distance-container .distance {
  font-size: 1.375rem;
  font-weight: 600;
  color: #0c4841;
}
.section-carrousel .contenedor-nuevas .card-nueva .card-cuerpo .direction-container {
  padding-bottom: 1rem;
}
.section-carrousel .contenedor-nuevas .card-nueva .card-cuerpo .direction-container p {
  font-size: 0.625rem;
  color: #565161;
}

.map-section {
  height: 50rem;
  align-content: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .map-section {
    height: 37.5rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.map-section .container {
  height: 75%;
}
.map-section .container h2 {
  margin: 1rem 0 1rem 0;
}
.map-section .container .row {
  height: 80%;
}
.map-section .container .row .text-container p {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: auto;
  color: #413d47;
  text-align: center;
  text-align: start;
}
@media (max-width: 768px) {
  .map-section .container .row .text-container p {
    font-size: 1rem;
    font-weight: 600;
    line-height: auto;
    text-align: center;
  }
}
.map-section .container .row .map-container {
  height: 100%;
}
.map-section .container .row .map-container iframe {
  height: 100%;
  width: 100%;
  border-radius: 0.85rem;
}
@media (max-width: 768px) {
  .map-section .container .row .map-container iframe {
    height: 80%;
    width: 100%;
  }
}

.review-section {
  background: linear-gradient(0deg, rgba(204, 201, 220, 0) 73.13%, rgba(204, 201, 220, 0.3) 86.56%, var(--Colors-Neutral-100, #CCC9DC) 100%), linear-gradient(180deg, rgba(204, 201, 220, 0) 74%, rgba(204, 201, 220, 0.3) 85.53%, var(--Colors-Neutral-100, #CCC9DC) 97.06%), linear-gradient(0deg, rgba(114, 86, 61, 0.8) 0%, rgba(114, 86, 61, 0.8) 100%), url(../img/kiawah-7.jpg) lightgray 50%/cover no-repeat;
  height: 20rem;
  align-content: center;
  justify-content: center;
  background-position: center;
}
@media (max-width: 768px) {
  .review-section {
    height: 15rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.review-section div {
  text-align: center;
}
.review-section div h2 {
  color: #82e9dd;
}
.review-section div p {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: auto;
  color: #413d47;
  text-align: center;
  color: #9892b1;
}
@media (max-width: 768px) {
  .review-section div p {
    font-size: 1rem;
    font-weight: 600;
    line-height: auto;
    text-align: center;
  }
}
.review-section div a {
  height: 100%;
}

.hero-search {
  height: 25rem;
  align-content: center;
  justify-content: center;
  background: linear-gradient(0deg, #ccc9dc 0%, #157a6e 100%);
}
@media (max-width: 768px) {
  .hero-search {
    height: 18rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.hero-search .container {
  text-align: center;
  height: 100%;
}
.hero-search .container h1 {
  color: #d0bba8;
}
.hero-search .container p {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: auto;
  color: #413d47;
  text-align: center;
  color: #ccc9dc;
}
@media (max-width: 768px) {
  .hero-search .container p {
    font-size: 1rem;
    font-weight: 600;
    line-height: auto;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .hero-search .container p {
    color: #157a6e;
  }
}
.hero-search .container .searchbar {
  width: 50%;
}
@media (max-width: 768px) {
  .hero-search .container .searchbar {
    width: 100%;
  }
}
.resultados-wrapper {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .resultados-wrapper {
    margin-top: 12rem;
    margin-bottom: 5rem;
  }
}
.resultados-wrapper h3 {
  text-align: start;
  padding-left: 2.5rem;
}
@media (max-width: 768px) {
  .resultados-wrapper h3 {
    text-align: center;
    padding-left: 0;
  }
}
.resultados-wrapper .resultados {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resultados-wrapper .resultados .container .card-hztal {
  max-width: 100%;
  max-height: 15rem;
  flex-direction: row;
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .resultados-wrapper .resultados .container .card-hztal {
    max-height: 350px;
  }
}
.resultados-wrapper .resultados .container .card-hztal img {
  max-height: 85%;
  max-width: 30%;
  border-radius: 0.25rem;
  padding: 0.5 rem;
  margin: 1rem;
}
@media (max-width: 768px) {
  .resultados-wrapper .resultados .container .card-hztal img {
    max-height: 90%;
  }
}
.resultados-wrapper .resultados .container .card-hztal .card-body {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .resultados-wrapper .resultados .container .card-hztal .card-body {
    flex-direction: column;
  }
}
.resultados-wrapper .resultados .container .card-hztal .card-body .card-main-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  max-width: 40%;
}
@media (max-width: 768px) {
  .resultados-wrapper .resultados .container .card-hztal .card-body .card-main-section {
    max-width: 100%;
  }
}
.resultados-wrapper .resultados .container .card-hztal .card-body .card-main-section .text-section h5 {
  color: #157a6e;
}
@media (max-width: 768px) {
  .resultados-wrapper .resultados .container .card-hztal .card-body .card-main-section .text-section h5 {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .resultados-wrapper .resultados .container .card-hztal .card-body .card-main-section .text-section p {
    font-size: 0.8rem;
  }
}
.resultados-wrapper .resultados .container .card-hztal .card-body .card-main-section span svg {
  color: #d0bba8;
}
.resultados-wrapper .resultados .container .card-hztal .card-body .stat-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .resultados-wrapper .resultados .container .card-hztal .card-body .stat-section {
    align-items: flex-start;
    margin-top: 0.8rem;
  }
}
.resultados-wrapper .resultados .container .card-hztal .card-body .stat-section .icons-top-card {
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
@media (max-width: 768px) {
  .resultados-wrapper .resultados .container .card-hztal .card-body .stat-section .icons-top-card {
    justify-content: space-between;
    gap: 0.8rem;
    font-size: 0.8rem;
  }
}
.resultados-wrapper .resultados .container .card-hztal .card-body .badge-section {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .resultados-wrapper .resultados .container .card-hztal .card-body .badge-section {
    gap: 0.2rem;
    justify-content: flex-start;
  }
}

.newsletter-section {
  height: 20rem;
  align-content: center;
  justify-content: center;
  background-color: #157a6e;
  text-align: center;
  margin: 2rem 0 2 rem 0;
}
.newsletter-section .newsletter-wrapper h2 {
  color: #f2f2f2;
}
@media (max-width: 768px) {
  .newsletter-section .newsletter-wrapper h2 {
    font-size: 1.125rem;
  }
}
@media (max-width: 768px) {
  .newsletter-section .newsletter-wrapper p {
    font-size: 1rem;
    font-weight: 500;
  }
}
.card {
  height: 25rem;
  display: flex;
}
.card img {
  height: 100%;
  object-fit: cover;
  object-position: 100% 90%;
  opacity: 0.5;
}
@media (max-width: 768px) {
  .card img {
    object-position: 40% 60%;
  }
}
.card .card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0 1rem 1rem;
}
.card .card-img-overlay h5 {
  color: #f2f2f2;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .card .card-img-overlay h5 {
    font-size: 1.375rem;
  }
}
.card .card-img-overlay .card-text {
  color: #ccc9dc;
}

.reviews-stats-section {
  width: 100%;
  margin-top: 2rem;
  border-radius: 0.625rem;
  padding: 3rem 0 4rem 0;
  background-color: #b1adc7;
}
@media (max-width: 768px) {
  .reviews-stats-section {
    width: 90%;
  }
}
.reviews-stats-section h2 {
  height: 40px;
  font-size: 2.375rem;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}
.reviews-stats-section .reviews-stats {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.reviews-stats-section .reviews-stats ul {
  text-align: center;
  display: flex;
  gap: 5rem;
  list-style: none;
  justify-content: center;
  margin-bottom: 2.5rem;
}
@media (max-width: 768px) {
  .reviews-stats-section .reviews-stats ul {
    width: 80%;
    gap: 1rem;
    justify-content: center;
  }
}
.reviews-stats-section .reviews-stats ul li {
  width: 100%;
  height: 30%;
  color: #157a6e;
}
.reviews-stats-section .reviews-stats ul li .stat-name {
  font-size: 1.125rem;
  font-weight: 500;
  height: 0.85rem;
  color: #2d2a2f;
}
.reviews-stats-section .reviews-stats ul li .stat-value {
  font-size: 1.625rem;
  font-weight: 700;
  height: 20px;
  color: #157a6e;
}
.reviews-stats-section .reviews-stats ul li .stat-caption {
  font-size: 0.9375rem;
  font-style: italic;
  height: 2rem;
  color: #2d2a2f;
}
.reviews-stats-section div h2 {
  height: 2.5rem;
  font-size: 2rem;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}
.reviews-stats-section div .reviews-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.reviews-stats-section div .reviews-summary ul {
  text-align: center;
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 3rem;
}
@media (max-width: 768px) {
  .reviews-stats-section div .reviews-summary ul {
    flex-wrap: wrap;
  }
}
.reviews-stats-section div .reviews-summary ul li {
  width: 3rem;
  height: 2rem;
}
.reviews-stats-section div .reviews-summary ul li img {
  width: 3rem;
}
.reviews-stats-section div .reviews-summary ul li p {
  font-size: 0.875rem;
  font-style: italic;
  height: 0.5rem;
}

.opinion-section {
  margin: 4rem 0 4rem 0;
}
.opinion-section .container h2 {
  height: 40px;
  font-size: 2.375rem;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}
.opinion-section .container .card {
  max-height: fit-content;
  height: 15.5rem;
}
@media (max-width: 768px) {
  .opinion-section .container .card {
    width: 95%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .opinion-section .container .card .row .img-wrapper {
    height: fit-content;
    width: auto;
  }
}
.opinion-section .container .card .row .img-wrapper img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  object-position: 80% 50%;
  margin: 0.5rem;
}
@media (max-width: 768px) {
  .opinion-section .container .card .row .img-wrapper img {
    height: 50%;
    width: 95%;
  }
}
.opinion-section .container .card .row .card-content .card-body h5 {
  color: #157a6e;
}
.opinion-section .container .card .row .card-content .card-body p {
  color: #2d2a2f;
}

.container-fluid {
  background-color: #f2f2f2;
  height: auto;
  padding: 1rem;
}
.container-fluid .contact-wrapper {
  height: auto;
}
.container-fluid .contact-wrapper .row div .card-body {
  height: fit-content;
  padding-bottom: 40px;
}
.container-fluid .contact-wrapper .row div .card-body h1 {
  color: #157a6e;
}
@media (max-width: 768px) {
  .container-fluid .contact-wrapper .row div .card-body h1 {
    font-size: 2.875rem;
  }
}
.container-fluid .contact-wrapper .row div .card-body p {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: auto;
  color: #413d47;
  text-align: center;
}
@media (max-width: 768px) {
  .container-fluid .contact-wrapper .row div .card-body p {
    font-size: 1rem;
    font-weight: 600;
    line-height: auto;
    text-align: center;
  }
}
.container-fluid .contact-wrapper .row div .card-body div textarea {
  height: 100%;
}
.container-fluid .contact-wrapper .row .img-contact {
  align-content: center;
}
@media (max-width: 768px) {
  .container-fluid .contact-wrapper .row .img-contact {
    display: none;
  }
}
.container-fluid .contact-wrapper .row .img-contact img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.container-fluid .contact-wrapper .send-button {
  justify-content: center;
  padding: 1rem;
}
.container-fluid .contact-wrapper .send-button button {
  width: 30%;
}

.reviews-section {
  height: auto;
  background: linear-gradient(0deg, #ccc9dc 0%, #157a6e 100%);
}
.reviews-section .review-titlesection {
  align-content: center;
  justify-content: center;
}
.reviews-section .review-titlesection h1 {
  color: #d0bba8;
}
.reviews-section .review-titlesection p {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: auto;
  color: #413d47;
  text-align: center;
  color: #ccc9dc;
}
@media (max-width: 768px) {
  .reviews-section .review-titlesection p {
    font-size: 1rem;
    font-weight: 600;
    line-height: auto;
    text-align: center;
  }
}
.reviews-section .container {
  width: 80%;
  text-align: start;
}
.reviews-section .container div {
  width: 50%;
  text-align: start;
}
.reviews-section .container select {
  width: 50%;
}
.reviews-section .container .star-container div h6 {
  text-align: start;
}
.reviews-section .container .star-container div .checked {
  color: #72563d;
}
.reviews-section .container .switch-area {
  width: 100%;
}
.reviews-section .container .switch-area .row .col-6 div label {
  text-align: start;
}
.reviews-section .container .review-area div {
  width: 100%;
}
.reviews-section .container .upload-file div {
  width: 100%;
}
@media (max-width: 768px) {
  .reviews-section {
    height: 100vh;
    height: 50rem;
    align-content: center;
    justify-content: center;
    margin-bottom: 500px;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .reviews-section {
    height: 37.5rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .reviews-section .review-titlesection {
    align-content: center;
    justify-content: center;
  }
  .reviews-section .container {
    width: 100%;
    text-align: center;
  }
  .reviews-section .container div {
    width: 80%;
    text-align: start;
  }
  .reviews-section .container select {
    width: 80%;
  }
  .reviews-section .container .container-row div h6 {
    text-align: start;
  }
  .reviews-section .container .switch-area {
    width: 100%;
  }
  .reviews-section .container .switch-area .row .col-6 div label {
    text-align: start;
  }
  .reviews-section .container .review-area div {
    width: 100%;
  }
  .reviews-section .container .upload-file div {
    width: 100%;
  }
  .reviews-section .container .send-button {
    width: 50%;
    justify-self: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ccc9dc;
}

h1 {
  font-size: 4.25rem;
  font-weight: 800;
  color: #0c4841;
  text-shadow: 0px 16px 40px rgba(88, 92, 95, 0.16);
}

h2 {
  font-size: 2.375rem;
  font-weight: 600;
  color: #157a6e;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #157a6e;
}

h4 {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: auto;
}

h5 {
  font-size: 1.125rem;
  color: #157A6E;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: auto;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
  line-height: auto;
}

p {
  font-size: 0.875rem;
}

header {
  background-color: #157a6e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav {
  height: 2.5rem;
  width: 50%;
  display: flex;
  justify-content: right;
  padding-right: 1.25rem;
}
header nav ul {
  display: inline-flex;
  list-style: none;
  gap: 1.25rem;
  align-items: center;
}
header nav ul li a {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
}
header img {
  max-width: 10rem;
  max-height: 1.56rem;
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
}

footer {
  background-color: #157a6e;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
footer .container div ul {
  display: inline-flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}
footer .container div ul li a {
  text-decoration: none;
  color: #ccc9dc;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
footer .container a img {
  max-width: 10rem;
  max-height: 1.56rem;
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
}

/*# sourceMappingURL=style.css.map */
