/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

/* Etiquetas Generales */
body {
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CCC9DC;
}

h1 {
    font-size: 4em;
    font-weight: 800;
    line-height: auto;
    text-align: center;
    color: #D0BBA8;
    text-shadow: 0px 16px 40px rgba(88, 92, 95, 0.16);
}

.pagetitle {
    color: #157A6E;
}

h2 {
    font-size: 3.1875em;
    font-weight: 600;
    line-height: auto;
}

h3 {
    font-size: 2.5em;
    font-weight: 500;
    line-height: auto;
    color: #157A6E;
}

h4 {
    font-size: 2em;
    font-weight: 500;
    line-height: auto;
}


h5 {
    color: #157A6E;
    font-size: 1.5625em;
    font-weight: 600;
    line-height: auto;
}

p {
    font-size: 1em;
}


/* Nav Bar & Footer */
.navbar {
    background-color: #157A6E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav {
    height: 40px;
    width: 50%;
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

header nav ul {
    display: inline-flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    color: #CCC9DC;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

header img {
    max-width: 160px;
    max-height: 25 px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

footer nav {
    height: 40px;
    width: 50%;
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

footer nav ul {
    display: inline-flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

footer nav ul li a {
    text-decoration: none;
    color: #CCC9DC;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

footer img {
    max-width: 160px;
    max-height: 25 px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

footer div .container {
    width: 100%;
}

/* Estilos Main */
.subheadline {
    font-size: 22px;
    font-weight: 600;
    line-height: auto;
    color: #D0BBA8;
    text-align: center;
}

h2 {
    font-size: 68px;
    font-weight: 700;
    color: #157A6E;
    line-height: auto;
    text-align: center;
}

.subheadline-h2 {
    font-size: 1.375em;
    font-weight: 600;
    line-height: auto;
    color: #2D2A2F;
    text-align: center;
}

@media (max-width:768px) {
    .subheadline {
        font-size: 1em;
        font-weight: 600;
        line-height: auto;
        color: #D0BBA8;
        text-align: center;
    }

    .subheadline-h2 {
        font-size: 1em;
        font-weight: 600;
        line-height: auto;
        color: #2D2A2F;
        text-align: center;
    }
}


/* Hero Section */
.hero {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #CCC9DC 95.46%), linear-gradient(180deg, rgba(21, 122, 110, 0.16) 0%, rgba(21, 122, 110, 0.80) 82.37%), url(../img/torrey-pines-1.jpeg) lightgray 50% / cover no-repeat;
    align-content: center;
    justify-content: center;
    height: 800px;
}


@media (max-width:768px) {
    .hero {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #CCC9DC 95.46%), linear-gradient(180deg, rgba(21, 122, 110, 0.16) 0%, rgba(21, 122, 110, 0.80) 82.37%), url(../img/torrey-pines-1.jpeg) lightgray 50% / cover no-repeat;
        align-content: center;
        justify-content: center;
        height: 600px;
    }
}

@media (min-width:769px) {
    .searchbar {
        max-width: 50%;
    }
}

/* -- Carrousel Section -- */

.carrousel-section {
    height: 800px;
    align-content: center;
}

.card-title {
    color: #157A6E;
}

.puntuacion svg {
    color: #D0BBA8
}

.direction {
    font-size: 0.75em;
}

.distance {
    font-size: 1.25em;
    font-weight: 600;
    color: #157A6E;
}

.card {
    background-color: rgba(242, 242, 242, 5);
    height: 350px;
}

.card-img-top {
    height: 200px;
}

/* Media Queries Cards 4 y 5 No visibles desde MD y Corregir tamaños de resto de Cards*/
@media (max-width: 768px) {
    .card-4 {
        display: none;
    }

    .card-5 {
        display: none;
    }

    .card {
        max-height: 40%;
    }
}


/* Mapa Campos Cerca */
.map-section {
    height: 600px;
    align-content: center;
}

.map {
    padding: 1rem;
}

.map-text {
    font-size: 1em;
    font-weight: 600;
    color: #2D2A2F;
    text-align: left;
    padding: 1em;
}

@media (max-width:768px) {
    .map-text {
        font-size: 0.875em;
        font-weight: 600;
        color: #2D2A2F;
        text-align: center;
        padding: 1rem;
    }

    .section-title {
        font-size: 2.25em;
    }
}

/* CTA Post your review Section */
.review-section {
    background: linear-gradient(0deg, rgba(204, 201, 220, 0.00) 73.13%, rgba(204, 201, 220, 0.30) 86.56%, var(--Colors-Neutral-100, #CCC9DC) 100%), linear-gradient(180deg, rgba(204, 201, 220, 0.00) 74%, rgba(204, 201, 220, 0.30) 85.53%, var(--Colors-Neutral-100, #CCC9DC) 97.06%), linear-gradient(0deg, rgba(114, 86, 61, 0.80) 0%, rgba(114, 86, 61, 0.80) 100%), url(../img/kiawah-7.jpg) lightgray 50% / cover no-repeat;
    background-position: center;
    align-content: center;
    justify-content: center;
}

@media (max-width:768px) {
    .review-section {
        background: linear-gradient(0deg, rgba(204, 201, 220, 0.00) 73.13%, rgba(204, 201, 220, 0.30) 86.56%, var(--Colors-Neutral-100, #CCC9DC) 100%), linear-gradient(180deg, rgba(204, 201, 220, 0.00) 74%, rgba(204, 201, 220, 0.30) 85.53%, var(--Colors-Neutral-100, #CCC9DC) 97.06%), linear-gradient(0deg, rgba(114, 86, 61, 0.80) 0%, rgba(114, 86, 61, 0.80) 100%), url(../img/kiawah-7.jpg) lightgray 50% / cover no-repeat;
        background-position: center;
    }
}


.postreview-wrapper {
    height: 22em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width:768px) {
    .headline-cta {
        font-size: 1.5em;
    }
}

.checked {
    color: orange;
}


/* PAGES */


/* PAGE Reviews */
#review-hero-card {
    height: 400px;
    object-fit: cover;
    display: flex;
}

.img-hero-review {
    height: 100%;
    object-fit: cover;
    object-position: 100% 60%;
    opacity: 0.5;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 1rem 1rem;
}

.hero-review-title {
    color: #f2f2f2;
}

/*  Reviews- Sección Quick Stats */
.reviews-stats-section {
    width: 100%;
    padding: 2rem 0 2rem 0;
}

.review-stats {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.review-title {
    height: 40px;
    font-size: 2.25em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.stat-list {
    text-align: center;
    display: flex;
    gap: 1.2rem;
    list-style: none;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.stat-item {
    width: 15%;
    height: 30%;
    color: #157A6E;
}

.stat-name {
    font-size: 1.2rem;
    font-weight: 500;
    height: 12px;
    color: #2D2A2F;
}

.stat-value {
    font-size: 24px;
    font-weight: 700;
    height: 20px;
    color: #157A6E;
}

.stat-caption {
    font-size: 14px;
    font-style: italic;
    height: 8px;
    color: #2D2A2F;
}


@media (max-width:768px) {
    .stat-list {
        display: flex;
        gap: 4rem;
        list-style: none;
        margin: 1rem 0 5rem 0;
        text-align: center;
        justify-content: space-evenly;
    }

    .stat-item {
        width: 20%;
        height: 30%;
    }

    .stat-name {
        font-size: 0.8rem;
        font-weight: 500;
        height: 0.625rem;
    }

    .stat-value {
        font-size: 1.5rem;
        font-weight: 700;
        height: 0.5rem;
    }

    .stat-caption {
        font-size: 0.8rem;
        font-style: italic;
        height: 0.5rem;
    }
}



/* HASTA ACÁ REVISÉ FONT CON EMS */

/* Stats - Sección Summary */
.reviews-summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.summary-title {
    height: 40px;
    font-size: 24px;
    text-align: center;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.summary-list {
    text-align: center;
    display: flex;
    gap: 4rem;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 1rem;
}

.summary-item {
    width: 3rem;
    height: 2rem;
}

.summary-icon {
    width: 3rem;
}

.summary-caption {
    font-size: 0.875rem;
    font-style: italic;
    height: 0.5rem;
}

/* Review - Opinion Section */
.opinion-section {
    margin: 3rem 0 3rem 0;
}

.opinion-title {
    height: 40px;
    font-size: 2.25em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}


.card-opinion {
    max-height: fit-content;
}

.card-content {
    max-height: fit-content;
}

.card-opinion div div img {
    width: 100%;
    height: 7rem;
    object-fit: cover;
    object-position: 80% 50%;
    margin: 0.5rem;

}

@media (max-width:768px) {
    .card-opinion {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-wrapper {
        display: flex;
        justify-content: center;
    }

    .card-opinion div div img {
        width: 95%;
        object-fit: cover;
    }

    .card-opinion div .card-content {
        max-height: 50%;
    }

}


/* Search a Course */
.hero-search {
    align-content: center;
    background: linear-gradient(0deg, #CCC9DC 0%, #157A6E 100%);
}

.resultados-wrapper {
    display: flex;
    flex-direction: column;
}

.resultados-wrapper h3 {
    padding-left: 1.5em;
}

@media (max-width:768px) {
    .resultados-wrapper {
        display: flex;
        flex-direction: column;
    }

    .resultados-wrapper h3 {
        text-align: center
    }
}

/* Cards Horizontales + Media Queries */

.resultados {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card-hztal {
    max-width: 100%;
    max-height: 15rem;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.card-hztal img {
    max-width: 30%;
    border-radius: 0.25rem;
    padding: 0.5 rem;
    margin: 1rem;
}

.card-body-result {
    display: flex;
    justify-content: space-between;
}

.card-main-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 40%;
}

.stat-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.icons-top-card {
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.course-direction {
    font-size: 0.8rem;
}

.stars-card {
    color: #D0BBA8;
}

.badge-section {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-content: flex-end;
}

@media (max-width:768px) {

    .card-hztal {
        max-width: 60em;
        max-height: 15rem;
        flex-direction: row;
    }

    .card-hztal img {
        max-width: 30%;
        border-radius: 0.25rem;
        margin: 1rem;
    }

    .card-body-result {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-main-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 100%;
    }

    .card-main-section h5 {
        font-size: 1rem;
    }

    .stat-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 0.8rem;
    }

    .icons-top-card {
        display: flex;
        justify-content: space-between;
        gap: 0.8rem;
        text-align: center;
        font-size: 0.8rem;
    }

    .course-direction {
        font-size: 0.7rem;
    }

    .stars-card {
        color: #D0BBA8;
    }

    .badge-section {
        display: flex;
        flex-wrap: wrap;
        gap: 0.2rem;
        justify-content: flex-start;
    }
}


/* Post your Review */
.review-h1 {
    color: #157A6E;
}


.form-title {
    font-size: 24px;
    font-weight: 500px;
    height: 25px;
    color: #2D2A2F;
}

.review-inputs {
    width: 100%;
    height: 600px;
    text-align: left;
    justify-items: center;
}

.review-textarea {
    width: 80%;
    height: 60px;
}

.review-attach {
    width: 100%;
    height: 600px;
    align-content: center;
    text-align: center;
    background-color: #CCC9DC;
    border: #157A6E;
    border-style: solid;
    border-width: 4px;
    border-radius: 12px;
}

.button-review {
    background-color: #D0BBA8;
    color: #157A6E;
    font-weight: 600;
    font-size: 16px;
    width: 50%;
    height: 40px;
    margin-top: 24px;
}

/* Conctact */

.contact-wrapper{
    background-color: rgba(242, 242, 242, 0.4);
    height: fit-content;
    padding: 1rem;
}

.img-contact img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

/* Newsletter */
.newsletter-section {
    height: 25em;
    align-content: center;
    justify-content: center;
    background-color: #157A6E;
    text-align: center;
}

.newsletter-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.875em;
}

.newsletter-title {
    color: #f2f2f2;
}

.newsletter-p {
    color: #f2f2f2;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 1.5em;
}

#newsletter-mail {
    width: 250px;
    height: 30px;
}

#newsletter-button {
    width: 80px;
    height: 30px;
    color: #157A6E;
    background-color: #D0BBA8;
    font-weight: 600;
}

@media (max-width:768px) {
    .newsletter-title {
        color: #f2f2f2;
        font-size: 1.5em;
    }

    .newsletter-p {
        color: #f2f2f2;
        font-size: 1em;
        font-weight: 500;
        margin-bottom: 1.5em;
    }

    #newsletter-mail {
        width: 50%;
        height: 10%;
    }

    #newsletter-button {
        width: 80px;
        height: 30px;
        color: #157A6E;
        background-color: #D0BBA8;
        font-weight: 600;
    }
}